.footer_foot {
    text-align: center;
}

.footer_left {
    text-align: center;
}

.footer_left ul {
    list-style: none;
}

.footer_left ul li {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.footer_left ul li:hover {
    padding-left: 20px;
    color: #01282a;
    font-size: 20px;
}
.footer_foot h5 {
    color: #454343;
}

.content {
    margin-top: -11%;
}

.social {
    display: flex;
    justify-content:flex-end;
    margin-top: 3%;
}

.social div {
    margin-right: 15px;
}

.social div a img {
    width: 40px;
    height: 40px;
    transition: width 1.5s, height 1.5s;
}

.social div a img:hover {
    width: 50px;
    height: 50px;
}

.logo_div {
    margin-top: -8%;
    margin-left: 2%;
}